<main class="oct-bg h-100" role="main">
  <div class="container pt-4 pb-6">
    <article class="row g-0">
      <div class="col">
        <h1 class="mb-4">{{companyName}}</h1>
        <div class="h3">Company Info</div>
        <section class="row mt-3">
          <form [formGroup]="formGroup"
                class="col col-md-6">
            <dynamic-ng-bootstrap-form [group]="formGroup"
                                       [layout]="formLayout"
                                       [model]="formModel"
                                       (change)="onChange($event)">
            </dynamic-ng-bootstrap-form>
            <div class="col mt-4">
              <button class="btn btn-primary " [disabled]="formGroup.invalid" (click)="submit()">Save</button>
            </div>
          </form>
        </section>
      </div>
    </article>
  </div>
</main>
