<div [ngSwitch]="status.toLowerCase()">
  <ng-template ngSwitchCase="new">
    <span class="px-2 py-1 rounded-1 border border-2 border-secondary text-secondary">{{status}}</span>
  </ng-template>
  <ng-template ngSwitchCase="approved">
    <span class="px-2 py-1 rounded-1 border border-2 border-success text-success">{{status}}</span>
  </ng-template>
  <ng-template ngSwitchCase="rejected">
    <span class="px-2 py-1 rounded-1 border border-2 border-danger text-danger">{{status}}</span>
  </ng-template>
</div>
