<div class="card">
    <div class="card-body py-2">
        <div class="row">
            <div class="col-lg-3 fw-strong item-header">
                Gift
            </div>
            <div class="col-lg-15">
            </div>
            <div class="col-lg-6 center-text fw-strong item-header">
                Quantity
            </div>
        </div>
    </div>
    <div class="card-body pt-0 pb-0">
        <div *ngFor="let lineItem of gifts" class="row align-items-center py-3 border-top">
            <div class="col-lg-3 align-self-start">
                <img [src]="lineItem.imageUrl" class="img-fluid" [alt]="lineItem.name" />
            </div>
            <div class="col-lg-15">
                <p class="mb-2 fw-strong gift-name">
                    {{ lineItem.name }}
                </p>
                <p class="mb-0">
            </div>
            <div class="col-lg-6 center-text">
                <p class="mb-2 gift-name">
                    {{ lineItem.quantity }}
                </p>
                <p class="mb-0">
            </div>
        </div>
    </div>
</div>