@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~src/styles/variables";

@include media-breakpoint-up(xl) {
    .vertical-line-right {
        border-right: 1px solid #F0AD4E;
    }

    .table-pr {
        padding-right: 28px;
    }
    
    .table-lr {
        padding-left: 28px;
    }

    .modal-header-custom-height {
        height: 55px;
    }
  }

.push-right {
    margin-left: auto;
}

.is-invalid {
    border-color: $text-danger-alert !important;
}