<div class="modal-header modal-header-custom-height modal-header-bg">
    <h4 class="modal-title model-header-text">
        Select shipping method
    </h4>
    <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <fa-icon [icon]="faTimes" size="lg" style="color: white;"></fa-icon>
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="">
    <div class="table-responsive">
        <table class="table table-striped table-borderless small-table-head"
            style="margin-bottom: 3px; font-size: 15px;" aria-label="Shipping methods">
            <thead class="border-bottom border-table-header">
                <tr>
                    <th style="width: 70%;" scope="col">Method type</th>
                    <th style="text-align:center; width: 20%" scope="col">Active method</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let method of methods">
                    <td [ngClass]="{'font-weight-bold': method.isActive}">
                        <div class="media">
                            <img style="min-width: 40px; min-height: 40px;" vcImageFallback="assets/images/payment-method.svg" [src]="method.logoUrl" alt="method.code" />
                            <div class="media-body mx-3">
                                {{ method.name }}
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div *ngIf="method.isActive">
                            <fa-icon [icon]="faCheck" size="lg" style="color: #F0AD4E;"></fa-icon>
                            <strong>Active</strong>
                        </div>
                        <div *ngIf="!method.isActive">
                            <a href="javascript: void(0)" style="border-bottom: 1px dashed #5D94BC"
                                (click)="selectMethod(method)">Choose</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>