<nav class="navbar navbar-expand navbar-light bg-transparent">
  <div class="container">
      <a class="navbar-brand" href="/">
        <img class="user-select-none" src="assets/images/logo.svg" alt="">
      </a>
      <div class="navbar-nav">
        <a class="d-none d-sm-block nav-link text-uppercase fw-bold" routerLinkActive="border-bottom border-primary border-3 active" routerLink="/login">Login</a>
        <a class="nav-link text-uppercase fw-bold" href="/">Help & Support</a>
      </div>
  </div>
</nav>
