<nav class="navbar navbar-expand navbar-light bg-transparent">
  <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/images/logo.svg" alt="">
        <vc-company-name class="d-none d-md-inline" *ngIf="curentCustomerOrganization$ | async as curentCustomerOrganization"  [companyName]="curentCustomerOrganization?.name"></vc-company-name>
      </a>
      <div class="navbar-nav">
        <!-- TODO - Don't forget to replace these router checks in the future -->
        <a *ngIf="router.url !== '/login/logged-in'" class="d-none d-sm-block nav-link text-uppercase fw-bold" routerLinkActive="border-bottom border-primary border-3 active" routerLink="/login">Login</a>
        <a *ngIf="router.url === '/login/logged-in'" class="d-none d-sm-block nav-link text-uppercase fw-bold" href="/">My account</a>
        <a *ngIf="router.url === '/login/logged-in'" class="d-none d-sm-block nav-link text-uppercase fw-bold" href="/">Settings</a>
        <a class="d-none d-sm-block nav-link text-uppercase fw-bold" routerLinkActive="border-bottom border-primary border-3 active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        <a class="nav-link text-uppercase fw-bold" href="/">Help & Support</a>
      </div>
  </div>
</nav>
