<form [formGroup]="purchaseNumberComponentForm">
    <label for="purchaseNumberForm" class="form-label mt-1">Purchase order</label>
    <div class="d-flex form-group">
        <input class="form-control me-sm-2" id="purchaseNumberForm" formControlName="purchaseNumberForm" type="text"
            placeholder="Enter purchase order number" [(ngModel)]="purchaseNumber">
        <button class="btn btn-primary my-sm-0 check" *ngIf="!purchaseOrderNumberExist || purchaseOrderNumberChanged"
            [disabled]="!purchaseNumberForm.dirty" (click)="updatePurchaseNumber(purchaseNumber)"></button>
        <button class="btn btn-danger my-sm-0 cross" *ngIf="purchaseOrderNumberExist && !purchaseOrderNumberChanged"
            (click)="clearPurchaseNumber()"></button>
    </div>
</form>