$theme-colors: map-merge(
  $theme-colors,
  (
    'gray-900': $gray-900,
    'gray-800': $gray-800,
    'gray-700': $gray-700,
    'gray-600': $gray-600,
    'gray-500': $gray-500,
    'gray-400': $gray-400,
    'gray-300': $gray-300,
    'gray-200': $gray-200,
    'gray-100': $gray-100,
    'gray-modal': $gray-modal-bg,
    'black': $black,
    'white': $white,
    'table-header': $gray-modal-border
  )
);

$theme-semitransparent-colors: ();
@each $name, $value in $theme-colors {
  $theme-semitransparent-colors: map-merge($theme-semitransparent-colors, (#{$name}-semitransparent: rgba($value, 0.5)));
}

$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    xl: 1400px,
  )
);

$grid-breakpoints: map-remove($grid-breakpoints, "xxl");

$container-max-widths: map-merge(
  $container-max-widths,
  (
    xl: 1160px,
  )
);

$container-max-widths: map-remove($container-max-widths, "xxl");

$spacers: map-merge(
  $spacers,
  (
    5: ($spacer * 2),
    6: ($spacer * 3),
    7: ($spacer * 4)
  )
);

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

$outline-widths: $border-widths;
$outline-offsets: $outline-widths;
