$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          $theme-semitransparent-colors,
        ),
      ),
    ),
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            '.dark-green': $dark-green,
            '.muted-contrast': $text-muted-contrast,
            '.danger-alert': $text-danger-alert,
          ),
        ),
      ),
    ),
    "outline": (
      property: outline,
      values: (
        null: $outline-color solid $outline-width,
        0: 0,
      )
    ),
    "outline-color": (
      property: outline-color,
      class: outline,
      values: $theme-colors
    ),
    "outline-offset": (
      property: outline-offset,
      class: outline,
      values: $outline-offsets
    ),
    "outline-style": (
      property: outline-style,
      class: outline,
      values: auto none dotted dashed solid double groove ridge inset outset
    ),
    "outline-width": (
      property: outline-width,
      class: outline,
      values: $outline-widths
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%
          ),
        ),
      ),
    ),
  )
);
