@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/forms";

@include media-breakpoint-up(xl) {
    .modal-custom-size { 
      max-width: 1040px; 
    }

    .modal-position {
      margin-top: 5rem !important; 
    }
  }
  
.media-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-label {
  @extend .form-label;
  font-weight: 800 !important;
  font-size: 17px;
  letter-spacing: 0.01em;
}