<div class="component">
    <div class="card mb-3">
      <h3 class="card-header summary-header">Order Summary</h3>
      <div class="card-body">
        <div class="row pb-3">
            <div class="col">
                <p class="summary-item">Subtotal</p>
              </div>
              <div class="col">
                <p class="summary-value">{{ cart?.subTotal?.formattedAmount }}</p>
              </div>
        </div>
        <div class="row pb-3">
            <div class="col">
                <p class="summary-item">Discount</p>
              </div>
              <div class="col">
                <p class="summary-value">-{{ cart?.discountTotal?.formattedAmount }}</p>
              </div>
        </div>
        <div class="row pb-3">
            <div class="col">
                <p class="summary-item">Tax</p>
              </div>
              <div class="col">
                <p class="summary-value">+{{ cart?.taxTotal?.formattedAmount }}</p>
              </div>
        </div>
        <div class="row pb-3">
            <div class="col">
                <p class="summary-item">Shipping cost</p>
              </div>
              <div class="col">
                <p class="summary-value">+{{ cart?.shippingTotal?.formattedAmount }}</p>
              </div>
        </div>
        <div class="row pb-3">
            <div class="col">
                <p class="summary-item">Total</p>
              </div>
              <div class="col">
                <p class="summary-total">{{ cart?.total?.formattedAmount }}</p>
              </div>
        </div>
        <div class="card-text summary-footer">
            Availability, shipping, tax & promotions are not final until you complete your order.
        </div>
      </div>
    </div>
  </div>
