@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~src/styles/variables";

@include media-breakpoint-up(xl) {
  .magic-offset-1 {
    margin-left: -82px;
  }
}

.magic-offset-2 {
  margin-left: 26px;
}

.check {
    background-image: url(~src/assets/images/check.svg);
    background-repeat: no-repeat;
    background-position: center; 
}

.cross {
  background-image: url(~src/assets/images/cross.svg);
  background-repeat: no-repeat;
  background-position: center; 
}

.btn {
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &.focus {
        opacity: 0.5 !important;
        background-color: $primary;
        border: 2px solid $primary;
        color: $primary;
        cursor: default;
      }
    }
  }

  .checkout-form-label {
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #16110D;
  }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: start;
  align-items: center;
}

.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
