<main class="m-auto">
  <div class="container pt-4 pb-6">

    <section>
      <vc-dashboard-caption-container>
        <h1 class="mb-5">DASHBOARD</h1>
      </vc-dashboard-caption-container>
    </section>

    <section *ngFor="let section of dashboardContent">
      <vc-dashboard-caption-container>
        <h4 class="mb-2">{{ section.header }}</h4>
      </vc-dashboard-caption-container>

      <div class="row p-0 mb-4">
        <vc-dashboard-item
          *ngFor="let item of section.content"
          class="col-md-12 col-lg-8 mb-3"
          [buttonLink]="item.link"
          [buttonIconSrc]="item.iconSrc"
          [buttonCaption]="item.caption"
          [buttonDescription]="item.description"
        ></vc-dashboard-item>
      </div>
    </section>
  </div>
</main>
