<main class="m-auto">
  <div class="container pt-4 pb-6">

    <section>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <h1 class="m-auto mb-5">DASHBOARD</h1>
        </div>
      </div>
    </section>

    <section *ngFor="let section of dashboardContent">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <h4 class="m-auto mb-2">{{ section.header }}</h4>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-12 col-lg-8 mb-3" *ngFor="let item of section.content">
          <vc-dashboard-item
            [buttonLink]="item.link"
            [buttonIconSrc]="item.iconSrc"
            [buttonCaption]="item.caption"
            [buttonDescription]="item.description"
          ></vc-dashboard-item>
        </div>
      </div>
    </section>

  </div>
</main>
