<main class="h-100" role="main">
  <div class="container pt-4 pb-6">
    <h1 class="mb-3" *ngIf="curentCustomerOrganization$ | async as curentCustomerOrganization">{{curentCustomerOrganization?.name}}</h1>
    <div class="d-flex justify-content-between align-items-center pb-3">
      <h3 class="text-condensed mb-0">Company address</h3>
      <button class="btn btn-outline-primary">Add new address</button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Contact name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ronald Richards</td>
            <td>3891 Ranchview Dr. Richardson 443, USA, California 62639</td>
            <td>(684) 555-0102</td>
            <td>debra.holt@example.com</td>
            <td class="text-nowrap">
              <button type="button" class="btn btn-white btn-xs me-3">
                <img src="assets/images/context-pencil.svg" />
              </button>
              <button type="button" class="btn btn-white btn-xs">
                <img src="assets/images/context-delete.svg" />
              </button>
            </td>
          </tr>
          <tr>
            <td>Ronald Richards</td>
            <td>3891 Ranchview Dr. Richardson 443, USA, California 62639</td>
            <td>(684) 555-0102</td>
            <td>debra.holt@example.com</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
