<main class="h-100" role="main">
  <div class="container pt-4 pb-6">
    <article class="row g-0">
      <div class="col-md-12">

        <h1 class="mb-4">Reset your password</h1>
        <p class="fs-4 mb-4">We will send you an email to reset your password</p>

        <form (ngSubmit)="onSubmit(emailInput.value)" #form="ngForm">
          <label class="form-label required" for="emailInput">Email</label>
          <input
            class="form-control mb-1"
            type="email"
            name="email"
            id="emailInput"
            placeholder="Enter your email"
            #emailInput
            ngModel
            email
            required />
          <span *ngIf="form.invalid && form.dirty" class="d-block text-danger">Enter a valid email address</span>
          <button [disabled]="form.invalid" class="btn btn-primary mt-5 flex-fill flex-sm-grow-0" type="submit">
              <span class="mx-5">Submit</span>
          </button>
        </form>
      </div>
      <aside class="d-none d-md-block col offset-2">
        <img class="img-fluid user-select-none" src="assets/images/login.svg" alt="common picture" />
      </aside>
    </article>
  </div>
</main>
