<main class="h-100" role="main">
  <div class="container pt-4 pb-6">
    <article class="row g-0">
      <div class="col-md-12">
        <h1 class="mb-4">Reset your password</h1>
        <p class="fs-4 mb-4">We will send you an email to reset your password</p>
        <form>
          <label class="required mb-2" for="emailInput">Email</label><br />
          <input class="form-control" type="email" name="email" id="emailInput" placeholder="Enter your email" required /><br />
          <button class="btn btn-primary flex-fill flex-sm-grow-0">
            <span class="mx-5">Submit</span>
          </button>
        </form>
      </div>
      <aside class="d-none d-md-block col offset-2">
        <img class="img-fluid user-select-none" src="assets/images/login.svg" alt="" />
      </aside>
    </article>
  </div>
</main>
