<div class="image-uploader">
  <img
    class="rounded w-100 d-block"
    [src]="value !== null ? value : 'assets/images/no-image.svg'"
    alt="image preview">
  <input
    #fileUpload
    class="d-none"
    type="file"
    accept="image/*"
    (change)="onUpload($event)">
  <div class="d-flex flex-row">
    <a
      class="btn btn-link text-primary ps-0"
      (click)="fileUpload.click()">
      Upload
    </a>
    <a
      class="btn btn-link text-primary ps-0"
      (click)="onDelete()">
      Delete
    </a>
  </div>
</div>
