@use "sass:math";

th {
  &.desc,
  &.asc {
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  }

  &.desc {
    background-image: url(/assets/images/arrow-down.svg);
  }

  &.asc {
    background-image: url(/assets/images/arrow-up.svg);
  }
}

.table td,
.table th {
  vertical-align: middle;
}

.table.small-table-head {
  > thead > tr > th {
    padding-top: math.div($table-cell-padding-y, 2);
    padding-bottom: math.div($table-cell-padding-y, 2);
  }
}
