.text-condensed {
  font-family: $font-family-condensed !important;
}

.text-sans-serif {
  font-family: $font-family-sans-serif !important;
}

.text-transform-none {
  text-transform: none !important;
}
