<h1>Registration</h1>
<ul ngbNav #nav="ngbNav" class="nav-pills nav-outline">
  <li ngbNavItem="personal-information" class="border-2">
    <a ngbNavLink>
      <h2 class="text-condensed mb-0">1 Personal information</h2>
    </a>
    <ng-template ngbNavContent>
      <vc-personal-information></vc-personal-information>
    </ng-template>
  </li>
  <li ngbNavItem="company-details">
    <a ngbNavLink class="disabled">
      <h2 class="mb-0">
        2 <span class="text-condensed text-black">Company details</span>
      </h2>
    </a>
  </li>
</ul>
<section [ngbNavOutlet]="nav"></section>