<div class="text-end">
    <div class="row mb-2">
        <div class="col">
            <a class="border-right pl-4 strong" href="javascript: void(0)">Show Reference Information</a>
        </div>
        <div class="col-md-auto vertical-line">
            <a class="pl-4 strong" href="javascript: void(0)">Clear Cart</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body pt-0">
        <div *ngFor="let lineItem of cart?.items" class="row align-items-center py-3 border-bottom">
            <div class="col-4 align-self-start">
                <img [src]="lineItem?.imageUrl" class="img-fluid" [alt]="lineItem?.name" />
            </div>
            <div class="col-12">
                <p class="mb-2">
                    <a href="javascript: void(0)" class="strong">{{ lineItem?.name }}</a>
                </p>
                <p class="mb-0 fs-label">
                    <span class="fw-bold">Item: </span>
                    <span>{{ lineItem?.sku }}</span>
                </p>
                <div *ngFor="let dp of getDynamicPropertiesToDisplay(lineItem?.dynamicProperties ?? null)" class="align-items-center mb-0 fs-label">
                    <span class="fw-bold">{{ dp?.name }}: </span>
                    <span>{{ dp?.displayValue }}</span>
                </div>
                <p class="mb-0">
                <p class="mb-2 fs-label">
                    <span class="fw-bold">Price: </span>
                    <span class="fw-bold text-dark-green">{{ lineItem?.placedPrice!.formattedAmount }}</span>
                    <span> / each</span>
                </p>
            </div>
            <div class="col-2">
                <input [ngModel]="lineItem?.quantity" type="number" class="form-control small-input text-center" min="1"
                    max="5">
            </div>
            <div class="col-3 fs-label">
                <a (click)="update()" href="javascript: void(0)">Update</a>
                <p><a (click)="remove()" href="javascript: void(0)">Remove</a></p>
            </div>
            <div class="col-3">
                <span class="fw-bold float-end">Total</span>
                <br />
                <span class="fw-bold text-dark-green float-end">{{ lineItem?.extendedPrice!.formattedAmount }}</span>
            </div>
        </div>
        <div class="card-text text-end mt-3">If you changed multiple quantities,
            <a href="javascript: void(0)" class="card-link">Update All</a>
        </div>
    </div>
</div>