<div class="card">
    <div class="card-body">
        <div *ngFor="let lineItem of cart?.items" class="row align-items-center border-bottom">
            <div class="col-4 align-self-start">
                <img [src]="lineItem!.imageUrl" class="img-fluid" [alt]="lineItem!.name" />
            </div>
            <div class="col-12">
                <p class="mb-2">
                    <a href="javascript: void(0)" class="fw-bold">{{ lineItem!.name }}</a>
                </p>
                <p class="mb-0">
                    <span class="fw-bold">Item: </span>
                    <span>{{ lineItem!.sku }}</span>
                </p>
                <p class="mb-2">
                    <span class="fw-bold">Price: </span>
                    <span class="fw-bold text-dark-green">{{ lineItem!.placedPrice!.formattedAmount }}</span>
                    <span> / each</span>
                </p>
            </div>
            <div class="col-2">
                <input [ngModel]="lineItem!.quantity" type="number" class="form-control small-input" min="1" max="5">
            </div>
            <div class="col-3">
                <a (click)="update()" href="javascript: void(0)">Update</a>
                <p><a (click)="remove()" href="javascript: void(0)">Remove</a></p>
            </div>
            <div class="col-3">
                <span class="fw-bold float-end">Total</span>
                <br />
                <span class="fw-bold text-dark-green float-end">{{ lineItem!.extendedPrice!.formattedAmount }}</span>
            </div>
        </div>
        <div class="card-text text-end">If you changed multiple quantities, <a href="javascript: void(0)" class="card-link">Update All</a>
        </div>
    </div>
</div>