<main class="h-100" role="main">
  <div class="container pt-4 pb-6">
    <article class="row g-0">
        <div class="col-lg-12">
          <h1 class="mb-4">Reset account password</h1>
          <p class="fs-4 mb-4">Enter a new password</p>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

            <label class="form-label required" for="passwordInput">Password</label>
            <input
              class="form-control mb-1"
              id="passwordInput"
              type="password"
              formControlName="password"
              required />

            <div *ngIf="resetPasswordForm.controls.password.invalid && resetPasswordForm.controls.password.dirty">
              <span class="invalid-feedback d-block" *ngIf="resetPasswordForm.controls.password.errors?.required">
                {{ validationMessages.requiredMessage?.replace('{{ label }}', 'password') }}
              </span>
              <ul class="list-group">
                <li class="invalid-feedback d-block" *ngFor="let error of resetPasswordForm.controls.password.errors | keyvalue">
                  {{ validationMessages.passwordPolicyMessages[error.key]?.replace('{{ validator.errorParameter }}', error.value.errorParameter) }}
                </li>
              </ul>
            </div>

            <label class="form-label required mt-4" for="confirmPasswordInput">Confirm Password</label>
            <input
              class="form-control mb-1"
              id="confirmPasswordInput"
              type="password"
              formControlName="confirmPassword"
              required />

            <span
              class="invalid-feedback d-block"
              *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required
                  && (resetPasswordForm.controls.confirmPassword.dirty
                  || resetPasswordForm.controls.confirmPassword.touched)">
                {{ validationMessages.requiredMessage.replace('{{ label }}', 'password') }}
            </span>

            <span
              class="invalid-feedback d-block"
              *ngIf="resetPasswordForm.errors?.passwordMatchValidator
                  && resetPasswordForm.controls.confirmPassword.dirty">
                {{ validationMessages.passwordMismatchMessage }}
            </span>

            <div *ngIf="mutationErrors.length > 0">
              <ul class="list-group">
                <li class="invalid-feedback d-block" *ngFor="let error of mutationErrors">
                  {{ error }}
                </li>
              </ul>
            </div>

            <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary mt-5 flex-fill flex-sm-grow-0" type="submit">
                <span class="mx-5">Reset Password</span>
            </button>
          </form>
        </div>
    </article>
  </div>
</main>
