.gift-name {
    font-size: 15px;
    line-height: 20px;
    color: #3F3F3F;
}

.fw-strong {
    font-weight: 800;
}

.item-header {
    font-size: 15px;
    line-height: 20px;
    color: #111111;
}

.center-text {
    text-align: center;
}