<div class="component">
    <div class="card">
        <h3 class="card-header summary-header-sm">Shipping method</h3>
        <div class="card-body">
            <div class="media" *ngIf="shipment">
                <img class="user-select-none" vcImageFallback="assets/images/shipping-method.svg"
                    [src]="shipment.logoUrl" class="img-fluid" alt="code">
                <div class="media-body">
                    <div class="mx-3" style="font-size: 14px;">
                        {{shipment.shipmentMethodCode}} - {{ shipment.shipmentMethodOption }} ({{
                        shipment.price?.formattedAmount }})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>