@import '../../../styles/_variables.scss';

a,
a:hover,
a:visited {
  color: $body-color;
}

.dash-item {
  flex: 0 1 341px;
  max-width: 341px;
  height: 108px;
  border: 1px solid #dad7d3;
  background-color: $white;
  border-radius: $border-radius-sm;
  line-height: 18px;
}

.dash-item-icon {
  width: 56px;
  height: 56px;
}

.dash-item-icon-container {
  width: 98px;
  height: 100%;
}

.dash-item-caption {
  font-family: $font-family-condensed;
}

.dash-item-description {
  font-weight: $link-font-weight;
  color: $gray-800;
  width: 200px;
}
