@import "../line-items/line-items.component";

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  margin-left: -10px;
}

.img-fluid {
  border: 1px solid #E7E7E7;
}

.gift-name {
  font-size: 15px;
}


